{% extends "layout.html" %}

{% block title %}View Profile | {{ super }}{% endblock %}

{% block body %}
<p><b>Profile Image:</b> {% if profile.avatar %}<img src="/media/{{profile.avatar}}"/>{% endif %}</p>
<p><b>First Name:</b> {% if profile.first_name %}{{profile.first_name}}{% endif %}</p>
<p><b>Last Name:</b> {% if profile.last_name %}{{profile.last_name}}{% endif %}</p>
<p><b>Email:</b> {% if profile.email %}{{profile.email}}{% endif %}</p>
<p><b>Birthdate:</b> {% if profile.dob %}{{profile.dob}}{% endif %}</p>
<p><b>Bio:</b> {% if profile.bio %}{{profile.bio}}{% endif %}</p>
<a class="button button-primary" href="/accounts/profile/edit/">Edit Profile</a>
{% endblock %}